---
import Layout from '@components/Layout.astro'
import Container from '@components/Container.astro'
import { SITE, HOME, SOCIALS } from '@consts'
import ArrowCard from '@components/ArrowCard.astro'
import Link from '@components/Link.astro'
import { Locale, translations } from '@lib/i18n'
import type { CollectionEntry } from 'astro:content'
import { buildLocalizedURL } from '@lib/i18n'

type Props = {
  pinnedPosts: CollectionEntry<'posts'>[]
  sortedPosts: CollectionEntry<'posts'>[]
  locale: Locale
}

const { pinnedPosts, sortedPosts, locale } = Astro.props
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION} locale={locale}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="animate">
        <span>
          <img
            class="mx-auto h-28 w-28 rounded-full"
            src="/avatar.jpg"
            alt="avatar"
          />
        </span>

        <h1
          class="mt-4 text-center text-2xl font-bold text-black dark:text-white"
        >
          Andres Martin Angulo
        </h1>
      </div>

      <div class="mt-4 space-y-16">
        <section class="animate text-center font-extralight italic">
          <p>{translations[locale]['bio:1']}</p>
          <p>{translations[locale]['bio:2']}</p>
        </section>

        <section class="animate space-y-6">
          <p>
            {translations[locale]['welcome-text']}
          </p>

          <p>
            {translations[locale]['about-me-text']}&nbsp;<Link
              href={buildLocalizedURL(locale, '/now')}>here</Link
            >.
          </p>

          <p>
            {translations[locale]['tools-text']}{' '}
            <Link href={buildLocalizedURL(locale, '/tools')}
              >{translations[locale]['link:tools-home']}</Link
            >
          </p>

          <section class="animate space-y-6">
            <div class="flex flex-wrap items-center justify-between gap-y-2">
              <h2 class="font-semibold text-black dark:text-white">
                📌&nbsp;{translations[locale]['pinned-posts']}
              </h2>
              <Link href={buildLocalizedURL(locale, '/archive')}>
                {translations[locale]['see-all-posts']}
              </Link>
            </div>
            <ul class="not-prose flex flex-col gap-4">
              {
                pinnedPosts.map((post) => (
                  <li>
                    <ArrowCard entry={post} locale={locale} />
                  </li>
                ))
              }
            </ul>
          </section>

          <section class="animate space-y-6">
            <div class="flex flex-wrap items-center justify-between gap-y-2">
              <h2 class="font-semibold text-black dark:text-white">
                📚&nbsp;{translations[locale]['latest-posts']}
              </h2>
              <Link href={buildLocalizedURL(locale, '/archive')}>
                {translations[locale]['see-all-posts']}
              </Link>
            </div>
            <ul class="not-prose flex flex-col gap-4">
              {
                sortedPosts.map((post) => (
                  <li>
                    <ArrowCard entry={post} locale={locale} />
                  </li>
                ))
              }
            </ul>
          </section>

          <section class="animate space-y-4">
            <h2 class="font-semibold text-black dark:text-white">
              👋&nbsp;{translations[locale]['lets-connect']}
            </h2>
            <article>
              <p>
                {translations[locale]['get-in-touch-text']}
              </p>
            </article>
            <ul class="not-prose flex flex-wrap gap-2">
              {
                SOCIALS.map((SOCIAL) => (
                  <li class="flex gap-x-2 text-nowrap">
                    <Link
                      href={SOCIAL.HREF}
                      external
                      aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                    >
                      {SOCIAL.NAME}
                    </Link>
                    {'/'}
                  </li>
                ))
              }
              <li class="line-clamp-1">
                <Link
                  href={`mailto:${SITE.EMAIL}`}
                  aria-label={`Email ${SITE.TITLE}`}
                >
                  Email
                </Link>
                {'/'}
              </li>
              <li class="line-clamp-1">
                <Link
                  href={buildLocalizedURL(locale, '/rss.xml')}
                  aria-label="RSS Feed"
                >
                  RSS
                </Link>
                
              </li>
            </ul>
          </section>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
---
