---
import Container from '@components/Container.astro'
import Link from '@components/Link.astro'
import { SITE } from '@consts'
import {
  buildLocalizedURL,
  DEFAULT_LOCALE,
  translations,
  type Locale,
} from '@lib/i18n'

type Props = {
  locale: Locale
}

const { locale } = Astro.props
const currentPath = Astro.url.pathname

const basePath = buildLocalizedURL(locale, '/')

const links = [
  {
    href: buildLocalizedURL(locale, '/archive'),
    text: translations[locale]['link:archive'],
  },
  {
    href: buildLocalizedURL(locale, '/now'),
    text: translations[locale]['link:now'],
  },
  {
    href: buildLocalizedURL(locale, '/tools'),
    text: translations[locale]['link:tools'],
  },
]
---

<header>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href={basePath} underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}&nbsp;🐵
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        {
          links.map(({ href, text }) => (
            <>
              <Link href={href}>{text}</Link>
              <span>{`/`}</span>
            </>
          ))
        }

        {
          locale === DEFAULT_LOCALE ? (
            <Link href={`/es${currentPath}`}>
              <img
                src="/us.svg"
                alt="United States flag"
                width="26"
                height="26"
              />
            </Link>
          ) : (
            <Link href={currentPath.slice(3)}>
              <img src="/es.svg" alt="Spain flag" width="26" height="26" />
            </Link>
          )
        }
      </nav>
    </div>
  </Container>
</header>
